#gfg{
    margin: 10px;
}
.pad{
    padding-bottom: 15px;
}
.textpadding{
    padding-left: 5px;
}
button.btn.btn-primary.mt-4 {
    float: right;
    position: relative;
    display: inline-block;
    margin-right: -175%;
}
i.fa.fa-address-card {
    position: relative;
    margin-top: -232%;
}


