.text-right {
    text-align: right !important;
    position: relative;
    float: right !important;
    /* padding: 0px 35px; */
    margin-left: 18%;
}
.text-left {
    text-align: left !important;
    position: relative;
    float: left !important;
}