button.btn.btn-primary.mt-4 {
    margin-top: 25% !important;
    padding: 12px 25px 10px 25px;
    position: absolute;
    margin-right: -15%;
}
button.btn.btn-primary.mt-6  {
    margin-top: 7% !important;
    padding: 12px 25px 10px 25px;
    position: absolute;
    margin-right: -15%;
}
.container-fluid.mt--6 {
    margin-top: 2% !important;
}
.col-md-1.close-footer {
    padding-right: 74px;
}
.modal-content{
box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17);
border-color: darkgreen;
border: 2px solid darkseagreen;
background-color: lightskyblue;
}