button.btn.btn-primary.mt-4 {
    margin-top: -2% !important;
    padding: 12px 25px 10px 25px;
    position: absolute;
    margin-right: -15%;
}

.container-fluid.mt--6 {
    margin-top: 2% !important;
}
.col-md-1.close-footer {
    padding-right: 74px;
}