<div *ngIf="errMessage != ''" class="alert alert-danger">
    <span style="white-space: pre-line;white-space: pre-wrap;">
        <p>{{errMessage}}</p>
    </span>
</div>
<form #cp="ngForm" (ngSubmit)="ChangePassword()">
    <div class="form-group mb-3" [ngClass]="{ focused: focus === true }">
        <label class=" form-control-label" for="OldPassword">
            Old Password
        </label>
        <div class=" input-group input-group-merge">
            <div class=" input-group-prepend">
                <span class=" input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                </span>
            </div>
            <input class="form-control" placeholder="Old Password" type="password" #oldpwd="ngModel" maxlength="50"
                [(ngModel)]="changePassword.old_password" name="oldpwd" (focus)="focus = true" (blur)="focus = false"
                required id="oldpassword" />
        </div>
    </div>
    <div class="form-group mb-3" [ngClass]="{ focused: focus1 === true }">
        <label class=" form-control-label" for="NewPassword">
            New Password
        </label>
        <div class=" input-group input-group-merge">
            <div class=" input-group-prepend">
                <span class=" input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                </span>
            </div>
            <input class="form-control" placeholder="New Password" type="password" name="newpwd" #newpwd="ngModel"
                minlength="8" id="newpassword" [(ngModel)]="changePassword.new_password" (focus)="focus1 = true"
                (blur)="focus1 = false" required />

        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary my-4" [disabled]="!cp.form.valid">
            Change
        </button>
    </div>



</form>