.radio-center {
    float: right;
    position: relative;
    display: block;
    margin-top: -8%;
    margin-right: 26%;
}
.custom-control.custom-radio.mb-3 {
    padding-left: 0px;
    margin-left: -15%;
}