<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update JobSeeker</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form #userupdate="ngForm" (ngSubmit)="updateUser()">
            <div class=" row">
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus0 === true }">
                        <label class=" form-control-label" for="firstname">
                            First Name
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Enter FirstName" type="text"
                                [(ngModel)]="user.first_name" name="firstname" #firstname="ngModel"
                                (focus)="focus = true" (blur)="focus = false" required />
                        </div>
                    </div>
                </div>

                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus12 === true }">
                        <label class=" form-control-label" for="lastname">
                            Last Name
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Enter LastName" type="text"
                                [(ngModel)]="user.last_name" name="lastname" #lastname="ngModel" (focus)="focus = true"
                                (blur)="focus = false" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus2 === true }">
                        <label class=" form-control-label" for="dob">
                            DOB
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" placeholder="Enter DOB" type="date" [(ngModel)]="user.dob"
                                name="dob" #dob="ngModel" (focus)="focus = true" (blur)="focus = false" required />
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus14 === true }">
                        <label class=" form-control-label" for="mobile_no">
                            Mobile
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" placeholder="Enter Mobile Number" type="number"
                                [(ngModel)]="user.mobile_no" name="mobileno" #mobileno="ngModel" minlength="10"
                                maxlength="15" (focus)="focus = true" (blur)="focus = false" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus4 === true }">
                        <label class=" form-control-label" for="email">
                            Email
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-envelope'></i>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Enter Email Address" type="email"
                                [(ngModel)]="user.email" name="email" #email="ngModel" (focus)="focus = true"
                                (blur)="focus = false" required />
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus6 === true }">
                        <label class=" form-control-label" for="password">
                            Roles
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-badge'></i>
                                </span>
                            </div>
                            <ngx-bootstrap-multiselect [options]="roles" class=" form-control" data-toggle="select"
                                id="preferredlocation" (focus)="focus8 = true" (blur)="focus8 = false" multiple
                                [(ngModel)]="user.role" name="preferredlocation" #preferredlocation="ngModel" required>
                            </ngx-bootstrap-multiselect>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus5 === true }">
                        <label class=" form-control-label" for="username">
                            Permission Mode
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-user-o'></i>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Enter Permission Mode" type="text"
                                [(ngModel)]="user.permissions_mode" name="username" #username="ngModel"
                                (focus)="focus = true" (blur)="focus = false" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class=" row">
                <div class="col-md-7 modal-footer">

                </div>
                <div class="col-md-1 modal-footer">
                    <button type="submit" class="btn btn-primary mt-4" [disabled]="!userupdate.form.valid">
                        Update
                    </button>
                </div>
                <div class="col-md-2 modal-footer" style="margin-left:4%">
                    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
                </div>
            </div>

        </form>
    </div>
</ng-template>


<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Manage JobSeeker</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                            </li>

                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> Admin </a>
                            </li>

                            <li aria-current="page" class=" breadcrumb-item active">
                                Manage JobSeeker
                            </li>
                        </ol>
                    </nav>
                </div>

                <!-- <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addcompany(template)"> Add Companies
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6" *ngIf="show">
        <form #jobAdd="ngForm" (ngSubmit)="createJobs()">
            <div class=" row">
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus0 === true }">
                        <label class=" form-control-label" for="jobname">
                            Job Name
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Job Name" type="text" name="jobname"
                                (focus)="focus0 = true" (blur)="focus0 = false" required id="jobname"
                                [(ngModel)]="job.job_name" #jobname="ngModel" />
                        </div>

                    <div *ngIf="jobname.invalid && (jobname.dirty || jobname.touched)" class="alert alert-danger">
                  <div *ngIf="jobname.errors.required">
                    JobName is required
                  </div>
                </div>

                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus2 === true }">
                        <label class=" form-control-label" for="jobtype">
                            Job Type
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                </span>
                            </div>
                            <select class=" form-control" data-toggle="select" id="jobtype" (focus)="focus2 = true"
                                (blur)="focus2 = false" placeholder="Job Type" [(ngModel)]="job.job_type" name="jobtype"
                                #jobtype="ngModel" required>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" row">
                <div class=" col-md-12">
                    <div class=" form-group" [ngClass]="{ focused: focus12 === true }">
                        <label class=" form-control-label" for="companyname">
                            Job Description
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                                </span>
                            </div>

                            <!-- <input class="form-control" placeholder="Job Description" type="text" name="jobdesc"
                                (focus)="focus1 = true" (blur)="focus1 = false" required id="jobdesc"
                                [(ngModel)]="job.job_desc" #jobdesc="ngModel" maxlength="200" />-->

                                  <textarea class=" form-control" id="jobdesc" resize="none" maxlength="5000"
                                                                rows="3" cols ="7" placeholder="Job Description" (focus)="focus1 = true"
                                                                (blur)="focus1 = false" [(ngModel)]="job.job_desc"
                                                                name="jobdesc" #jobdesc="ngModel"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">

                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus14 === true }">
                        <label class=" form-control-label" for="jDate">
                            Position
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                </span>
                            </div>
                            <select class=" form-control" data-toggle="select" id="position" (focus)="focus3 = true"
                                (blur)="focus3 = false" placeholder="Job Type" [(ngModel)]="job.position"
                                name="position" #position="ngModel" required>
                                <option value="Manager">Manager</option>
                                <option value="Developer">Developer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus4 === true }">
                        <label class=" form-control-label" for="rdate">
                            Salary
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-calendar'></i>
                                </span>
                            </div>

                            <!-- <input class="form-control" placeholder="Salary" type="text" name="salary"
                                (focus)="focus4 = true" (blur)="focus4 = false" required id="salary"
                                [(ngModel)]="job.salary" name="salary" #salary="ngModel" />-->

                            <select class=" form-control" data-toggle="select" id="expsal" (focus)="focus6 = true"
                                (blur)="focus6 = false" placeholder="Salary" [(ngModel)]="job.salary" name="salary"
                                #salary="ngModel" required>
                                <option value="2-3 Lakhs "> 2-3 Lakhs </option>
                                <option value="3-5 Lakhs"> 3-5 Lakhs </option>
                                <option value="5-7 Lakhs"> 5-7 Lakhs </option>
                                <option value="7-9 Lakhs"> 7-9 Lakhs</option>
                                <option value="9-11 Lakhs"> 9-11 Lakhs</option>
                                <option value="11-13 Lakhs"> 11-13 Lakhs</option>
                                <option value="13-15 Lakhs"> 13-15 Lakhs</option>
                                <option value="15-17 Lakhs"> 15-17 Lakhs</option>
                                <option value="17-20 Lakhs"> 17-20 Lakhs</option>
                                <option value="20-24 Lakhs"> 20-24 Lakhs</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">

                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus5 === true }">
                        <label class=" form-control-label" for="rar">
                            Experience
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-calendar'></i>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Experience" type="text" name="experience"
                                (focus)="focus5 = true" (blur)="focus5 = false" required id="experience"
                                [(ngModel)]="job.experience" name="experience" #experience="ngModel" />
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus6 === true }">
                        <label class=" form-control-label" for="rar">
                            Location
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-location-arrow'></i>
                                </span>
                            </div>
                            <select class=" form-control" data-toggle="select" id="crtloc" (focus)="focus6 = true"
                                (blur)="focus6 = false" placeholder="Location" [(ngModel)]="job.location"
                                name="currentlocation" #currentlocation="ngModel" required>
                                <option *ngFor="let city of cities" [value]="city.name">
                                    {{city.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row">

                <div class=" col-md-6">
                    <div class=" form-group" [ngClass]="{ focused: focus7 === true }">
                        <label class=" form-control-label" for="rar">
                            Owner
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class='fa fa-location-arrow'></i>
                                </span>
                            </div>
                            <select class=" form-control" data-toggle="select" id="owner" (focus)="focus7 = true"
                                (blur)="focus7 = false" placeholder="Owner" [(ngModel)]="job.owner" name="owner"
                                #owner="ngModel" required>
                                <option *ngFor="let user of users" [value]="user.id">
                                    {{user.first_name}} , {{user.last_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6" *ngIf="!isJobAdding">
                    <div class=" form-group" [ngClass]="{ focused: focus8 === true }">
                        <label class=" form-control-label" for="rar">
                            Web Site
                        </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fa fa-building"></i>
                                </span>
                            </div>
                            <input class="form-control" placeholder="website" type="text" name="website"
                                (focus)="focus8 = true" (blur)="focus8 = false" required id="website"
                                [(ngModel)]="job.website" name="website" #website="ngModel" />
                        </div>
                    </div>
                </div>
            </div>
             <div class=" row">
                <div class="col-md-7 modal-footer">
                </div>
                <div class="col-md-2 modal-footer">
                    <button type="submit" class="btn btn-primary mt-4" [disabled]="!jobAdd.form.valid">
                        {{jobBtnText}}
                    </button>
                </div>
                <div class="col-md-1 close-footer">
                    <button type="button" class="btn btn-default mt-4" (click)="ClearValues()">Reset</button>
                </div>
                <div class="col-md-2 back-footer">
                    <button type="button" class="btn btn-info mt-4" (click)="ShowHide()">Back</button>
                </div>
            </div>
        </form>
</div>

<div class=" container-fluid mt--6" *ngIf="hide">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <h3 class=" mb-0">Job Seeker</h3>

                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select name="datatable_length" aria-controls="datatable"
                                        class="form-control form-control-sm" (change)="entriesChange($event)">
                                        <option value="10" [selected]="entries == 10">10</option>
                                        <option value="25" [selected]="entries == 25">25</option>
                                        <option value="50" [selected]="entries == 50">50</option>
                                        <option value="-1" [selected]="entries == -1">All</option>
                                    </select>
                                    entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control form-control-sm"
                                        placeholder="Search records" aria-controls="datatable"
                                        (keyup)="filterTable($event)" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <ngx-datatable id="print-section" class="bootstrap selection-cell" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="60" [rowHeight]="'auto'"
                        [limit]="entries != -1 ? entries : undefined" [rows]="filteredusers" [selected]="selected"
                        (activate)="onActivate($event)" (select)="onSelect($event)">
                        <ngx-datatable-column name="firstname">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.first_name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="lastname">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.last_name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="dob">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.dob}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="mobile">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.mobile_no}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="email"></ngx-datatable-column>
                        <ngx-datatable-column name="company_name">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.company_name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="table-action" tooltip="Edit User" placement="top" href="javascript:void(0)"
                                    (click)="editUser(template, row)">
                                    <i class=" fas fa-user-edit"> </i>
                                </a>
                                <a class="table-action" tooltip="Edit Profile" placement="top" href="javascript:void(0)"
                                    (click)="editProfile(row)">
                                    <i class=" fas fa-edit"> </i>
                                </a>
                                <a class="table-action" tooltip="Reset Password" placement="top"
                                    href="javascript:void(0)" (click)="resetPassword(row.id)">
                                    <i class=" fas fa-key"> </i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>